/* Paddings */
@for $index from 1 through 8 {
  .pt-#{$index} {
    padding-top: #{$index * 0.2}rem;
  }
  .pr-#{$index} {
    padding-right: #{$index * 0.2}rem;
  }
  .pb-#{$index} {
    padding-bottom: #{$index * 0.2}rem;
  }
  .pl-#{$index} {
    padding-left: #{$index * 0.2}rem;
  }
  .px-#{$index} {
    padding-left: #{$index * 0.2}rem;
    padding-right: #{$index * 0.2}rem;
  }
  .py-#{$index} {
    padding-top: #{$index * 0.2}rem;
    padding-bottom: #{$index * 0.2}rem;
  }
  .pa-#{$index} {
    padding: #{$index * 0.2}rem;
  }
}
/* Margins */
@for $index from 1 through 8 {
  .mt-#{$index} {
    margin-top: #{$index * 0.2}rem;
  }
  .mr-#{$index} {
    margin-right: #{$index * 0.2}rem;
  }
  .mb-#{$index} {
    margin-bottom: #{$index * 0.2}rem;
  }
  .ml-#{$index} {
    margin-left: #{$index * 0.2}rem;
  }
  .mx-#{$index} {
    margin-left: #{$index * 0.2}rem;
    margin-right: #{$index * 0.2}rem;
  }
  .my-#{$index} {
    margin-top: #{$index * 0.2}rem;
    margin-bottom: #{$index * 0.2}rem;
  }
  .ma-#{$index} {
    margin: #{$index * 0.2}rem;
  }
}
.mt-auto {
  margin-top: auto;
}
.mr-auto {
  margin-right: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.ml-auto {
  margin-left: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.ma-auto {
  margin: auto;
}

.d- {
  &-block {
    display: block;
  }
  &-flex {
    display: flex;
  }
  &-grid {
    display: grid;
  }
  &-table {
    display: table;
  }
  &-inline {
    display: inline;
  }
  &-inline-flex {
    display: inline-flex;
  }
  &-inline-grid {
    display: inline-grid;
  }
  &-inline-table {
    display: inline-table;
  }
  &-none {
    display: none;
  }
}

.t {
  /* Text Align */
  &-start {
    text-align: start;
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-end {
    text-align: end;
    text-align: right;
  }
  &-justify {
    text-align: justify;
  }
  /* Text Cases */
  &-to {
    &-upper {
      text-transform: uppercase;
    }
    &-lower {
      text-transform: lowercase;
    }
    &-capitalize {
      text-transform: capitalize;
    }
  }
}
