@mixin flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin btn($inline: true) {
  @if $inline {
    display: inline-block;
  } @else {
    display: block;
  }
  text-decoration: none;
  line-height: 150%;
  font-size: 0.9rem;
  border-radius: 4px;
  border: 2px solid transparent;
  padding: 4px 10px;
  font-weight: var(--btn-fw, 500);
  margin: 0;
  will-change: transform;
  box-shadow: 0 0 0 2.5px transparent;
  transition: background var(--transition-time-btn, 350ms)
      var(--transition-type-btn, ease-in-out),
    transform 50ms ease-in-out, box-shadow 350ms ease-in-out;
  &:hover {
    background: rgba(var(--current-color), 0.8);
  }
  &:active {
    transform: scale(var(--btn-active-size, 0.95));
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(var(--current-color), 0.4);
    background: rgba(var(--current-color), 0.85);
  }
}
